<div class="flex-content-center">
    <div class="column slider-content animated zoomIn">
        <div style="text-align:center;">
            <h2 class="title is-2">Functional Prototype Walkthrough Development Service for $100 USD per 4hr Session using TeamViewer/Skype Session</h2>
            <br />
            <br />
            <div style="text-align:center">
                <p style="margin:25px 25px;">Pre-requisite</p>
                <p>Functional Prototype Order</p>
                <p>Walkthrough of Functional <strong>Portable</strong> Prototype developed using Html/CSS/JS/Json viewable in <a href="https://appweb.arshucs.com"><strong>AppWeb Viewer</strong></a> in Android/IOS/Windows/Mac/Linux Systems</p>
                <p style="margin:25px 25px;">Includes</p>
                <p>Setup of Environment for Portable App Development</p>
                <p>Collaborative Remote Re-Development of Pre-Developed Functional Prototype using TeamViewer/Remote Desktop</p>
                <p style="margin:25px 25px;">CONTACT</p>
                <p>+65 98255785, sales@navisionapps.com</p>
            </div>
        </div>
    </div>
</div>