<div class="flex-content-center">
    <div class="column slider-content animated zoomIn">
        <div style="text-align:center;">
            <h2 class="title is-2">Functional Prototype Service for $1000 USD</h2>
            <br />
            <br />
            <div style="text-align:center">
                <p>Of Reasonable Scope and Complexity</p>
                <p>Standalone Functional <strong>Portable</strong> Prototype using Html/CSS/JS/Json viewable in <a href="https://appweb.arshucs.com"><strong>AppWeb Viewer</strong></a> in Android/IOS/Windows/Mac/Linux Systems</p>
                <p style="margin:25px 25px;">Example</p>
                <p>A <a href="https://appweb.arshucs.com/Bookmark"><strong>Bookmark Portable App</strong></a> implementing all CRUD operations Bookmark App</p>
                <p style="margin:25px 25px;">CONTACT</p>
                <p>+65 98255785, sales@navisionapps.com</p>
            </div>
        </div>
    </div>
</div>