<div class="flex-content-center" style="height:calc(100vh - 95px);">
    <div class="column slider-content animated zoomIn">
        <div style="text-align:center;">
            <h1>Integration Consultant</h1>
            <br />
            <br />
            <div style="text-align:center">
                <p>Integrating Software to Hardware</p>
                <p style="margin:25px 25px;">AND</p>
                <p>Integrating Software to Software</p>
            </div>
        </div>
    </div>
</div>